{% assign amounts = campaign | donation_button_amounts -%}


<div class="col-lg-6" id="dbtnCol">
    <div class="row donate-amountLabelRow" style="margin-top: 40px">
        <h4 class="buttonTitle">All donations!</h4>

        <div class="donate-amountRow row">
            {% for amount in amounts -%}
                {%assign matchedAmount = amount | times: 3%}
                <a href="{{ campaign.url }}/donate?donate={{ amount }}">
                    <button class="donate-amount" type="input">
                        <h5 class="donate-amountLabel">{{ amount | money }}</h5>
                        <h8 class="donate-amountLabel2">=${{ matchedAmount }}</h8>
                    </button>
                </a>
            {% endfor %}

            <a href="{{ campaign.url }}/donate">
                <button class="donate-amount" type="input">
                    <h5 class="donate-amountLabel">OTHER</h5>
                </button>
            </a>
        </div>

        <a class="button donate" href="{{ campaign.url }}/donate">
            <button class="donate-amountBig" type="input">DONATE NOW</button>
        </a>
    </div>
</div>
