<div class="row" id="centeredRow" style="margin-top: 80px">
    <nav id="navbar2" style=" width: 100%;z-index: 50; width: 100%; background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 50%, #FFFFFF 100%); opacity: .8">
        <div class="container" style="position:relative">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link2" href="{{campaign.url}}/">
                        
                        <button style="background-color: transparent; border: none">
                            <img src = "https://charity.studio/wp-content/uploads/2020/09/Icon-home.png" style = "height: 90%; margin-right: 5px; margin-bottom: 5px">
                            <h7 style="color: #EA2554;">MAIN CAMPAIGN PAGE</h7>
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link2" style="pointer-events:none; margin-left: 10px;">
                        <h7>/</h7>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link2" style="pointer-events:none; margin-left:10px">
                        <h7>DONORS</h7>
                    </a>
                </li>


                <li class="nav-item ml-auto">
                    <a href="{{ campaign.url }}/donate">
                        <button class="navbtn2" type="input">DONATE</button>
                    </a>
                </li>
            </ul>
        </nav>
    </nav>
</div>

<div class="container-fluid" style="background-color: #F0F3F9; padding-top: 120px; padding-bottom: 120px">
    <div class="row" id="centeredRow">
        <h3 class="donorTitle" style="margin-top: 0;">Thank You Donors!</h3>
    </div>
    <div class="row" id="centeredRow" style="margin-bottom: 40px">
        <p class="donorText">
            {{campaign | term_by_name: 'Cstm4'}}
        </p>
    </div>

    <div class="row" id="centeredRow">
        <div class="col-xs-2">
            <h4 id="donorCount">{{campaign | donation_count}}</h4>
            <h7 id="donorLabel">DONORS</h7>
        </div>

        <div class="col-xs-2">
            <h1 id="slash">/</h1>
        </div>

        <div class="col-xs-2">
            <h4 class="donor-goal" id="donorCountGoal">100</h4>
            <h7 id="donorLabel">GOAL</h7>
        </div>
    </div>

    <div class="row" >
        <div class="container" style = "text-align: center;">
            

                    <div class="donor-card-list">

                        {% assign donations = campaign | donations -%}
                        {% assign tiers = campaign | term_by_name: 'Cstm10' %}
                        {% assign tiers = tiers | split: ", " %}
                        {% assign tiersSize = tiers | size %}
                        
                        {% if tiersSize < 4 %}
                        {% assign tiers = '5000, 1000, 360, 100' | split: ", " %}
                    {% endif %}

                        
                        {% for displayed_Donation_Info in donations -%}
                        {% assign msg = displayed_Donation_Info.Message -%}
                        {% assign tier = 'hex-yellow' -%}
                        {% assign amount = displayed_Donation_Info.Amount -%}
                        {% if displayed_Donation_Info.Amount == null -%}
                            {% assign amount = 0 -%}
                        {% endif -%}
                        {% if displayed_Donation_Info.Matched_Times > 1 -%}
                            {% assign amount = amount | times: displayed_Donation_Info.Matched_Times -%}
                        {% endif -%}
                        {% if amount >= tiers[0]-%}
                        {% assign tier = 'red' -%}
                        {% assign cardColor = "#F53457"%}
                    {% elsif amount >= tiers[1] -%}
                        {% assign tier = 'lightorange' -%}
                        {%assign cardColor = "#FFA72C"%}
                    {% elsif amount >= tiers[2] -%}
                        {% assign tier = 'orange' -%}
                        {%assign cardColor = "#FF6C25"%}
                    {% elsif amount >= tiers[3] -%}
                        {% assign tier = 'cyan' -%}
                        {%assign cardColor = "#27AAE1"%}
                    {% else %}
                        {% assign tier = 'purple' -%}
                        {%assign cardColor = "#414E93"%}
                        {% endif -%}
                           
                            <div class="card {%if msg and msg != ''%} effect__click{%endif%}">
                              <div class="card__front {{tier}}">
                                <div class="card__text">
                                    {%if msg and msg != '' %}<div class="msg" title="This donation has a message."><img class="image" style ="height: 100%" src="https://charity.studio/wp-content/uploads/2020/09/message.png" ></div>{%endif%}
                                    <img id="donorImg" src="https://charity.studio/wp-content/uploads/2020/09/{{tier}}.png" style="max-height: 30px; margin-bottom: 10px"/>
                                  
                                  <br>  {% if amount == 0 %}{% else %}{{amount | money: 2}}{% endif %}
                                  <div class="donorName">{% if displayed_Donation_Info.Donor_Name != "" and displayed_Donation_Info.Donor_Name != nil %}{{displayed_Donation_Info.Donor_Name}}{% else %}Anonymous{% endif %}</div>
                                </div>
                                <div style = "margin-right: 7px; color: #C2C9E2; position:absolute; bottom: 0; right: 0" class= "match-multiplier {{tier}}">{%if displayed_Donation_Info.Matched_Times > 1 %}X{{displayed_Donation_Info.Matched_Times}}{% else %}X1{% endif %}</div>
                                
                              </div>
                              {%if msg and msg != '' %}<div class="card__back" style = "overflow-y:scroll; background-color:  {{cardColor}};"><span class="card__text">{{msg}}</span></div>{%endif%}
                            </div>
                        {% endfor -%}
                            

        </div>


    </div>

</div>
</div>


<script>


    window.onscroll = function () {
        stickyNav();
    }

    // function for sticky navbar
    var navbar = document.getElementById("navbar2");
    var sticky = navbar.offsetTop;
    function stickyNav() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky");

        } else {
            navbar.classList.remove("sticky");


        }
    }
</script>