<a class="anchor" id="donors"></a>
    <div class="container-fluid" style="background-color: white; padding-top: 40px; padding-bottom: 80px">
        <div class="row" id="centeredRow">
            <h3 class="donorTitle" style="margin-top: 0;">Thank You Donors!</h3>
        </div>
        <div class="row" id="centeredRow" style="margin-top: 20px; margin-bottom: 20px">
            <p class="donorText">
                {{campaign | term_by_name: 'Cstm4'}}
            </p>
        </div>

        <div class="row" id="centeredRow">
            <div class="col-xs-2">
                <h4 id="donorCount">{{campaign | donation_count}}</h4>
                <h7 id="donorLabel">DONORS</h7>
            </div>

            <div class="col-xs-2">
                <h1 id="slash">/</h1>
            </div>

            <div class="col-xs-2">
                <h4 class="donor-goal" id="donorCountGoal">100</h4>
                <h7 id="donorLabel">GOAL</h7>
            </div>
        </div>

        <div class="row">
            <div class="container">

                <div class="row" id="centeredRow" style=" margin-bottom: 20px; padding-bottom: 50px; padding-top:20px">
                    {% assign donations = campaign | donations -%}
                    {% assign tiers = campaign | term_by_name: 'Cstm10' %}
                    {% assign tiers = tiers | split: ", " %}
                    {% assign tiersSize = tiers | size %}
                    {% assign donorCount = 0 %}

                    {% if tiersSize < 4 %}
                        {% assign tiers = '5000, 1000, 360, 100' | split: ", " %}
                    {% endif %}

                    <div class="col-lg-5" style="max-width: 440px;">
                        {% for displayed_Donation_Info in donations limit:10 -%}
                            {% assign msg = displayed_Donation_Info.Message -%}
                            {% assign tier = 'hex-yellow' -%}
                            {% assign amount = displayed_Donation_Info.Amount -%}
                            {% if displayed_Donation_Info.Amount == null -%}
                                {% assign amount = 0 -%}
                            {% endif -%}
                            {% if displayed_Donation_Info.Matched_Times > 1 -%}
                                {% assign amount = amount | times: displayed_Donation_Info.Matched_Times -%}
                            {% endif -%}
                            {% if amount >= tiers[0]-%}
                                {% assign tier = 'red' -%}
                            {% elsif amount >= tiers[1] -%}
                                {% assign tier = 'lightorange' -%}
                            {% elsif amount >= tiers[2] -%}
                                {% assign tier = 'orange' -%}
                            {% elsif amount >= tiers[3] -%}
                                {% assign tier = 'cyan' -%}
                            {% else %}
                                {% assign tier = 'purple' -%}
                            {% endif -%}
                            <div class="donorWrapper" style=" border-bottom: 1px solid #dadae1; padding-top: 10px; width: 100%; margin-bottom: 10px;">
                                <div class="row" id="centeredRow" >
                                    <div class="col-1 my-auto" style = "vertical-align: middle;">
                                        <img id="donorImg" src="https://charity.studio/wp-content/uploads/2020/09/{{tier}}.png" style="margin-bottom:5px"/>
                                    </div>

                                    
                                    <div class="col-9" style="text-align: left;">

                                        <h7 id="donorName">
                                            {% if displayed_Donation_Info.Donor_Name != "" and displayed_Donation_Info.Donor_Name != nil %}
                                                {{displayed_Donation_Info.Donor_Name | truncate: 30}}{% else %}Anonymous
                                            {% endif %}
                                        </h7>

                                        {%if msg and msg != '' %}
                                        <div class = "row recentRow">
                                            {{msg}}
                                        </div>
                                    {%endif%}
                                    </div>


                                    <div class="col-2" style="text-align: left;">
                                        <h7 id="donorAmt" style = "margin-left: -55px">
                                            {% if amount == 0 %}
                                                {% else %}
                                                    {{amount | money: 2}}
                                            {% endif %}
                                        </h7>
                                    </div>


                                </div>
                            
                            </div>
                            {% assign donorCount = donorCount | plus: 1 %}

                            {% if donorCount == 5 %}
                            </div>
                            <div class="col-lg-5" style="max-width: 440px;">
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <div class="row" id="centeredRow">
                    <a href="{{ campaign.url }}/p/donors">
                        <button ; class="modalBtn" type="button">
                            <h7 style="font-size: 16px; font-weight: normal;">All Donors
                            </h7>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
